<%= form_with model: @user, local: true do |f| %>
  <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
  <%= hidden_field_tag 'referer', (params['referer'].blank? ? request.referer : params['referer']) %>
  <% if can? :role, @user %>
    <div class="control-group">
      <%= f.label :username, :class => 'control-label' %>
      <font color="red">(必填)</font>
      <div class="controls">
        <%= f.text_field :username, :class => 'text_field', :id => 'username' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <font color="red">(必填)</font>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field', :id => 'name' %>
      </div>
    </div>
  <% else %>
    <div class="control-group">
      <dt><strong><%= f.label :username%></strong></dt>
      <dd><%= @user.username %></dd>
    </div>
    <div class="control-group">
      <dt><strong><%= f.label :name%></strong></dt>
      <dd><%= @user.name %></dd>
    </div>
  <% end %>
  
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <font color="red">(必填)</font>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field', :id => 'password' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field', :id => 'email' %>
    </div>
  </div>


  <% if can? :role, @user %>
    <div class="control-group">
      <%= f.label :unit_id, :class => 'control-label' %>
      <font color="red">(必选)</font>
     <div class="controls">
        <%= f.select(:unit_id, Unit.accessible_by(current_ability, :update).map{|u| [u.name,u.id]}, selected: @unit.blank? ? @user.unit_id : @unit.id)%>
      </div> 
    </div>

    <div class="control-group">
      <%= f.label :role, :class => 'control-label' %>
      <font color="red">(必选)</font>
      <div class="controls">
        <%= f.select(:role, User::ROLE.invert.select{|k, v| (can? :role, v.to_sym)}) %>
      </div>
    </div>
  <% else %>
    <div class="control-group">
      <dt><strong><%= f.label :unit_id%></strong></dt>
      <dt><%= @user.unit.try :name %></dt>
    </div>
    <div class="control-group">
      <dt><strong><%= f.label :role%></strong></dt>
      <dd><%= @user.rolename %></dd>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <% if can? :index, User%>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                (params['referer'].blank? ? request.referer : params['referer']), :class => 'btn' %>
    <% end %>
  </div>
<% end %>