<br>
<font face="微软雅黑" color='#006030' size=6>真迹发送报表</font>   
<br><br><br>
 
<% if !@results.blank? %>
<table border="1" table-layout="fixed" data-toggle="table" data-height="700">
    <tr class= 'nowrap'>
      <td><b>收寄日期</b></td>
      <% AuthenticPicture::STATUS_NAME.invert.keys.each do |n| %>
        <td><b><%= n %></b></td>
      <% end %>
    </tr>
    
    <% date = nil %>
    <% @results.each do |k,v| %>
      <tr class= 'nowrap'>
        <% if !(k[0].eql?date) %>
          <td width="16%"><%= k[0] %></td>
          <% AuthenticPicture::STATUS_NAME.keys.each do |s| %>
            <%  val = 0
                #获得真迹成功=获得真迹成功+已发送上药
                if s.to_s.eql?"authentic"
                  val = (@results[[k[0], "authentic"]].blank? ? 0 : @results[[k[0], "authentic"]]) + (@results[[k[0], "sended"]].blank? ? 0 : @results[[k[0], "sended"]])
                else
                  val = @results[[k[0], s.to_s]].blank? ? 0 : @results[[k[0], s.to_s]]
                end 
            %>
            <td width="16%"><%= val %></td>
          <% end %>
        <% end %>
      </tr>
      <% date = k[0] %>
    <% end %>
    <tr class= 'nowrap'>
      <td width="16%"><b><%= "合计" %></b></td>
      <% AuthenticPicture::STATUS_NAME.keys.each do |s| %>
        <%  val = 0
            #获得真迹成功=获得真迹成功+已发送上药
            if s.to_s.eql?"authentic"
              val = (@results_hj["authentic"].blank? ? 0 : @results_hj["authentic"]) + (@results_hj["sended"].blank? ? 0 : @results_hj["sended"])
            else
              val = @results_hj[s.to_s].blank? ? 0 : @results_hj[s.to_s]
            end 
        %>
        <td width="16%"><%= val %></td>
      <% end %>
    </tr>
</table>
<% else %>
近30天内无数据
<% end %>
<br><br><br><br><br><br>